<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/6d37a11b52.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>MercadoLiebre</title>
  </head>
  <body>
    <header>
      <div class="header-div">
        <a href="https://mercadoliebre-dh-djx7.onrender.com/">
          <img src="./images/logo-mercado-liebre.svg" alt="logo" />
        </a>
        <form action="#" method="GET" class="searchbar">
          <input type="text" placeholder="Buscar productos, marcas" />
          <button type="submit">🔍</button>
        </form>

        <span class="buy-cards">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </span>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">Oferta</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register">Creá tu cuenta </a
            ><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </li>
          <li>
            <a href="#">Mis compras</a>
            <i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
        <div class="burger-container">
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="login__container">
        <form class="login__form">
          <h2>Login</h2>
          <div class="login__divContainer">
            <div class="login__username">
              <label for="username">Nombre de usuario</label>
              <input
                placeholder="Nombre de usuario"
                type="text"
                name="username"
                id="username"
                pattern="[A-Za-z ]+"
                title="Por favor, introduce un nombre válido (solo letras y espacios)"
                required
              />
            </div>
            <div class="login__password">
              <label for="password">Contraseña</label>
              <input
                placeholder="Contraseña"
                type="password"
                name="password"
                id="password"
                pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*\W).{8,}"
                title="La contraseña debe tener al menos 8 caracteres, incluyendo letras, números y caracteres especiales"
                required
              />
            </div>
            <div class="login__buttons">
              <button type="submit" formaction="/">Iniciar sesión</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <div class="footer__divContainer">
        <div class="footer-items">
          <i class="fa-solid fa-credit-card"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="footer-items">
          <i class="fa-solid fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div class="footer-items">
          <i class="fa-solid fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
  </body>
</html>
