/* 
Paleta de colores

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; 

Tipografías
Familia: 'Roboto'
https://fontawesome.com/icons?d=gallery&m=free

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

Iconos
https://fontawesome.com/icons?d=gallery&m=free
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #eac926;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #ebebeb;
  width: 100%;
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
header {
  width: 100%;
}
.header-div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header-div img,
.header-div form {
  width: 50%;
}
.searchbar {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;
  font-size: 11px;
}
.searchbar input {
  margin-left: 10px;
  padding: 5px;
  width: 75%;
  border-radius: 5px 0 0 5px;
  border: none;
}
.searchbar button {
  border-radius: 0 5px 5px 0;
  padding: 5px;
  border: none;
  background-color: #fff;
}
.navbar ul {
  display: none;
}
section.banner img {
  width: 100%;
}

.products {
  display: block;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  padding: 15px;
}

.product-details {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  border-top: 2px solid #ebebeb;
}
.products i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
.products img {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}
.product-details p {
  font-size: 16px;
}
.price {
  width: 30%;
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
}
.off {
  width: 70%;
  margin-top: 15px;
  color: #39b54a;
  font-size: 16px;
}
.description {
  color: #666;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  display: none;
}
.titles {
  display: block;
  align-self: flex-start;
  margin: 20px 0 15px 5%;
  color: #666;
  font-size: 24px;
}
.buy-cards {
  font-size: 11px;
  max-width: 200px;
  text-align: right;
}
.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #03264c;
  color: white;
  width: max-content;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-items p {
  width: 80%;
}
.footer-items i {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__divContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register__form {
  border-radius: 10px;
  padding: 10px;
  background: rgb(227, 209, 72);
  background: linear-gradient(
    90deg,
    rgba(227, 209, 72, 1) 6%,
    rgba(242, 234, 160, 1) 49%,
    rgba(187, 214, 93, 1) 100%
  );
  display: flex;
  flex-direction: column;
  width: 90%;
}

.register__form label {
  margin: 2px;
  padding: 2px;
}
.register__divContainer h1 {
  color: #469b5d;
  font-size: 30px;
  margin-bottom: 10px;
}
.register__divContainer button {
  background: rgb(227, 209, 72);
  background: linear-gradient(
    90deg,
    rgba(227, 209, 72, 1) 6%,
    rgba(255, 236, 56, 1) 49%,
    rgba(198, 255, 0, 1) 100%
  );
  border-radius: 10px;
  align-self: center;
  width: 50%;
  padding: 5px;
  margin: 10px 0 5px 0;
}

/*TABLET*/
@media (min-width: 576px) {
  .header-div {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  .header-div img,
  .header-div form {
    width: 30%;
  }
  .container-products {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .description {
    display: initial;
    font-size: 16px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    font-size: 11px;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    padding: 5px 0;
    margin: 0 5px 0 5px;
  }
  .burger-container {
    display: none;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .container-products {
    width: 100%;
    margin: 0 10px 20px 10px;
    display: flex;
  }
  .navbar,
  .buy-cards {
    font-size: 17px;
  }
}
/* DESKTOP XL */
@media (min-width: 1200px) {
}
