<header>
    <div class="header-div">
      <a href="/">
        <img src="../images/logo-mercado-liebre.svg" alt="logo" />
      </a>
      <form action="#" method="GET" class="searchbar">
        <input type="text" placeholder="Buscar productos, marcas" />
        <button type="submit">🔍</button>
      </form>

      <span class="buy-cards">
        <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
        tarjeta de crédito
      </span>
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="#">Oferta</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul>
        <li>
          <a href="/users/register">Creá tu cuenta </a
          ><i class="fa-regular fa-id-card"></i>
        </li>
        <li>
          <a href="/users/login">Ingresá</a>
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </li>
        <li>
          <a href="#">Mis compras</a>
          <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>
      <div class="burger-container">
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
  </header>